@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >=theme(--breakpoint-xl)) {
    padding-inline: 8rem;
  }
}

.recharts-default-legend {
  display: none;
}

@layer components {
  .btn-hover {
    @apply hover:!text-black hover:bg-white transition duration-300
  }
}
